<div class="main-container">
    <mat-toolbar class="topbar telative">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html">
          <img src="assets/images/ipay.png" alt="homepage" style="margin:auto; width: 100px;" />
        </a>
      </div>
      <button mat-icon-button (click)="snav.toggle()" value="sidebarclosed">
        <mat-icon>menu</mat-icon>
      </button>
      <span fxFlex></span>
      <app-header></app-header>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container" 
        [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
      <mat-sidenav #snav id="snav" class="dark-sidebar pl-xs" 
        [mode]="'side'"
        fixedTopGap="0" 
        [opened]="mobileQuery.matches" [disableClose]="mobileQuery.matches">
        <app-sidenav></app-sidenav>
      </mat-sidenav>
      <mat-sidenav-content class="page-wrapper">
        <div class="page-content">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>