<mat-card>
    <mat-card-title>User Profile</mat-card-title>
    <mat-card-content>
        <div class="example-container">
            <form [formGroup]="options">
                <!-- <mat-checkbox [formControl]="hideRequiredControl">Hide required marker</mat-checkbox> -->
                <!-- <div>
                <label>Float label: </label>
                <mat-radio-group [formControl]="floatLabelControl">
                  <mat-radio-button value="auto">Auto</mat-radio-button>
                  <mat-radio-button value="always">Always</mat-radio-button>
                </mat-radio-group>
              </div> -->
                <mat-form-field appearance="fill" class="text-center mt-3">
                    <img mat-card-image src="../../../assets/user.png" style="width: 50px; height: 50px;">
                </mat-form-field>
                <mat-form-field appearance="fill" [hideRequiredMarker]="hideRequiredControl.value"
                    [floatLabel]="floatLabelControl.value">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Simple placeholder" value="M00001" disabled>
                </mat-form-field>
                <mat-form-field appearance="fill" [hideRequiredMarker]="hideRequiredControl.value"
                    [floatLabel]="floatLabelControl.value">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Simple placeholder" value="Prashant Snehi" disabled>
                </mat-form-field>
                <mat-form-field appearance="fill" [hideRequiredMarker]="hideRequiredControl.value"
                    [floatLabel]="floatLabelControl.value">
                    <mat-label>Shop Name</mat-label>
                    <input matInput placeholder="Simple placeholder" value="Testing" disabled>
                </mat-form-field>
                <mat-form-field appearance="fill" [hideRequiredMarker]="hideRequiredControl.value"
                    [floatLabel]="floatLabelControl.value">
                    <mat-label>City</mat-label>
                    <input matInput placeholder="Simple placeholder" value="New Delhi" disabled>
                </mat-form-field>
                <mat-form-field appearance="fill" [hideRequiredMarker]="hideRequiredControl.value"
                    [floatLabel]="floatLabelControl.value">
                    <mat-label>State</mat-label>
                    <input matInput placeholder="Simple placeholder" value="Delhi" disabled>
                </mat-form-field>
                <mat-form-field>
                    <button mat-mini-fab color="primary" class="dropdown" dropdown 
                        aria-label="Example icon button with a menu icon">
                        <mat-icon>menu</mat-icon>
                        
                    </button>
                </mat-form-field>
            </form>
        </div>
    </mat-card-content>
</mat-card>