<div class="root">
  <nav class="nav navbar navbar-expand-lg">
    <!-- <h1 class="text-white">Payspot</h1> -->
    <button mat-icon-button color="white" class="mt ml" aria-label="Icon button with a menu icon"
      (click)="sideNavToggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="../../../assets/payspot/MainLogo.jpeg" style="width: 50px; height: 50px; border-radius: 50%;" class="mt"
      alt="Payspot">
    <ng-container *ngIf="currentUser != null" class="text-light bg-primary">
      <app-navbar></app-navbar>
      <!-- <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle" dropdownToggle role="button">
            Welcome {{currentUser.username | titlecase}}
          </a>
          <div class="dropdown-menu" *dropdownMenu>
            <a class="dropdown-item" routerLink="/profile" routerLinkActive="active">View Profile</a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul> -->
    </ng-container>
  </nav>
  <div class="custom-container">
    <div class="sidebar" *ngIf="showSideNav">
      <div class="d-flex justify-content-center">
        <div class="col-md-12 text-center">
          <img src="../../../assets/user.png" style="width: 100px; height: 100px; border-radius: 50%;" class="mt"
            alt="Payspot">
        </div>
      </div>
    </div>
    <main class="main">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

<!-- <mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container> -->
<!-- <mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <app-sidenav></app-sidenav>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      <i class="navbar-toggler-icon"></i>SideNav
    </button>
  </div>

</mat-drawer-container> -->