<!-- <mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container> -->
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <app-sidenav></app-sidenav>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      <i class="navbar-toggler-icon"></i>SideNav
    </button>
  </div>

</mat-drawer-container>

