  <p>
    <mat-toolbar color="primary" class="tlbr"> 
      <span>Upload Slip</span>
    </mat-toolbar>
  </p>
  
  <div class="bg-image" >
      <div class="row d-flex justify-content-center">
          <div style="margin-top: 100px;">
              <br>
              <!-- <div class="view view-cascade gradient-card-header narrower py-2 mx-4 mb-3 page-header-title">
                <div>
                  <h4 class="col-xs-hide">PREPAID RECHARGE  - MOBILE</h4>
                  <h6 class="col-md-hide">PREPAID RECHARGE  - MOBILE</h6>
                </div>
              </div> -->
              
                <mat-card class="border">
                
                  <mat-card-title class="text-center">
                    <div color="primary">Upload Slip</div> 
                  </mat-card-title>
                  <mat-card-subtitle></mat-card-subtitle>
                  <br>
                  <mat-divider [inset]="true"></mat-divider>
                  <mat-divider [vertical]="true"></mat-divider>
                  <br>
                  <mat-card-content class="bld">
                      <form>
                          <!-- <mat-form-field appearance="outline"> -->
                            <mat-form-field appearance="fill" class="w-100">
                              <mat-label>Upload Slip</mat-label>
                              <ngx-mat-file-input  required >
                                <mat-icon ngxMatFileInputIcon>folder</mat-icon>
                              </ngx-mat-file-input>
                            </mat-form-field>
                              <mat-form-field appearance="fill" class="tnt">
                                <mat-label>Choose Payment Mode</mat-label>
                                <mat-select  matNativeControl required>
                                    <mat-option value="Cash">Cash</mat-option>
                                    <mat-option value="RTGS">RTGS</mat-option>
                                    <mat-option value="NEFT">NEFT</mat-option>
                                    <mat-option value="IMPS">IMPS</mat-option>
                                    <mat-option value="Cheque">Cheque</mat-option>
                                    <mat-option value="Bank Transfer">Bank Transfer</mat-option>
                                    <mat-option value="CDM Deposit">CDM Deposit</mat-option>
            
                                </mat-select>
                            </mat-form-field >

                             <mat-form-field appearance="fill" class="tnt">
                                <input matInput placeholder="Deposit-Amount"/>
                             </mat-form-field>

                             <mat-form-field appearance="fill" class="tnt">
                              <input matInput placeholder="Reciept-No/Cheque No./Remarks"/>
                           </mat-form-field>

                           <mat-form-field appearance="fill" class="tnt">
                             
                            <input type="text" matInput  onfocusin="(this.type='date')" onfocusout="(this.type='text')" placeholder="Enter Deposit Date"/>
                         </mat-form-field>
                          
                          
                          <button mat-raised-button color="primary"  type="submit"
                              class="btn btn-primary btn-lg btn-block mt-4" ><b>Submit</b>
                               
                          </button>
                      </form>
  
                  </mat-card-content>
                  <!-- <img mat-card-image src="../../../assets/payspot/Logo.png">
                  <mat-card-actions></mat-card-actions> -->
                  
              </mat-card>

          </div>
      </div>
  </div>